.courses {
  background-size: cover;  
  background-position: center;
  background-attachment: fixed;
}

.courses h1 {
  font-size: 3rem;
  color: white;
  color: var(--light-color);
  margin-bottom: 3.4rem;
}

.courses .course_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

@media (max-width: 992px) {
  .courses .course_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .courses .course_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

@media (max-width: 520px) {
  .courses .course_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}
  