.course_card {
  margin: 3rem 0;
  padding: 0 1.2rem;
  padding-bottom: 2.3rem;
  background-color: var(--white-color);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-left: 13px solid var(--light-color);
}

.course_card h2 {
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.course_card .card-img {
  width: 100px;
  height: 100px;
  background-color: var(--light-color);
  margin-left: 50%;
  margin-top: -50px;
  transform: translateX(-50%);
  border-radius: 50%;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course_card img {
  display: inline-block;
}

.course_card a {
  background-color: var(--primary-color);
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  text-transform: capitalize;
  text-decoration: none;
}

.course_card a:hover {
  text-decoration: underline;
}
