.video-list {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .video-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 520px) {
  .video-list {
    grid-template-columns: 1fr;
  }
}
